.blog_list {
  width: 80%;
  margin: 1rem auto;

  & > div.blog {
    background: #000;
    border-radius: 5px;
    margin: 0.5rem 0;
    padding: 1em;
  }

  & a {
    color: #fff;
    text-decoration: none;
  }

  & a:hover {
    text-decoration: underline;
  }
}
