.flex {
  display: flex;
}

.direction {
  &-col {
    flex-direction: column;
  }
  &-row {
    flex-direction: row;
  }
}

.justify {
  &-start {
    justify-content: flex-start;
  }
  &-end {
    justify-content: flex-end;
  }
}
